:root {
    --neutral--100: #ececec;
    --neutral--500: #c5c4c0;
    --neutral--900: #2c2e2b; 
}

* {
    margin: 0;
    padding: 0;
}

main {
    position: relative;
    width: 100%;
    height: 100dvh;
}

.background{
    position: absolute;
    height: 100dvh;
    width: 100%;
    z-index: -1;
    overflow: hidden;
    background-image: url("images/bg.jpg");
    background-position: center;
}

.form-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    display: grid;
    place-content: center;
}

.form-wrapper form {
    position: relative;
    padding: 0 clamp(2rem,4.4dvw,3rem) clamp(4rem,8.8dvw,6rem);
    font-size: clamp(1rem,2.2dvw,1.5rem);
    border-radius: 2dvw;
    border: .25em solid var(--neutral--500);
    backdrop-filter: blur(15px);
}


form h2{
    margin-bottom: 3.5em; 
    text-align: center;
}

.form__fields {
    display: flex;
    flex-direction: column;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 1fr;
    align-items: center;
    gap: clamp(.5rem, .5em, 1rem) clamp(2.5rem, 5em, 5rem);
}

.form__field {
    display: flex;
    flex-direction: column;
    grid-column: span 2;
}

.form__field input {
    line-height: 2em;
}

.form__fields input[type="submit"] {
    grid-column: span 2;
}

.form__fields span {
    grid-column: span 2;
    text-align: center;
}