:root {
    --neutral--100: #ececec;
    --neutral--500: #c5c4c0;
    --neutral--900: #2c2e2b; 
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

main {
    position: relative;
    width: 100%;
    height: 100dvh;
    overflow: hidden;
}

.background{
    position: absolute;
    height: 100dvh;
    width: 100%;
    z-index: -1;
    overflow: hidden;
    background-image: url("images/bg.jpg");
    background-position: center;
}

.form-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    display: grid;
    place-content: center;
}

.form-wrapper form {
    position: relative;
    padding: 0 clamp(2rem,4.4dvw,3rem) clamp(2rem,4.4dvw,3rem);
    font-size: clamp(1rem,2.2dvw,1.5rem);
    border-radius: 2dvw;
    border: .25em solid var(--neutral--500);
    backdrop-filter: blur(15px);
    display: flex;
    flex-direction: column;
    align-items: center;
}


form h2{
    position: relative;
    width: fit-content;
    padding: 1em;
    border-radius: 0 0 1em 1em;
    margin-bottom: 2em; 
    background-color: var(--neutral--500);
    color: var(--neutral--900);
}

form h2::before, form h2::after {
    content: '';
    position: absolute;
    width: 3em;
    height: .5em;
    top: 0;
}

form h2::before {
    left: 0%;
    transform: translateX(-100%);
    box-shadow: .5em -1px 0 0 var(--neutral--500);
    border-top-right-radius:1.5em ;
}

form h2::after {
    right: 0%;
    transform: translateX(100%);
    box-shadow: -.5em 0 0 0 var(--neutral--500);
    border-top-left-radius:1.5em ;
}

.form__fields {
    display: flex;
    flex-direction: column;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 1fr;
    align-items: center;
    gap: clamp(.5rem, .5em, 1rem) clamp(2.5rem, 5em, 5rem);
}

.form__field {
    position: relative;
    padding: .5em 1em;
    border: .15em solid var(--neutral--100);
    border-radius: 2em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    grid-column: span 2;
    color: var(--neutral--100);
}

.form__field:first-child {
    margin-bottom: 1em;
}


.form__field input {
    background-color: transparent;
    font-size: 1em;
    padding: .2em 0;
    border: 0;
    outline: none;
    color: inherit;
}

.form__field input::placeholder{
    color: var(--neutral--100);
}

.form__field:has(input:not(:placeholder-shown))::before, .form__field:has(input:focus)::before {
    position: absolute;
    top: -30%;
    padding: .1em .5em;
    border-radius: 1em;
    animation: appear .5s ease backwards;
    color: var(--neutral--900);
    background-color: var(--neutral--500);
}

.form__field:first-child:has(input:not(:placeholder-shown))::before, .form__field:first-child:has(input:focus)::before {
    content: 'username';
}

.form__field:nth-child(2):has(input:not(:placeholder-shown))::before, .form__field:nth-child(2):has(input:focus)::before {
    content: 'password';
}

.form__field input:focus::placeholder{
    color: transparent;
}


input[type="checkbox"] {
    visibility: hidden
}

.form__remember-me {
    position: relative;
    display: flex;
    padding-left: .5em;
}

.form__remember-me::before {
    content: '';
    display: block;
    height: 1em;
    width: 1em;
    background-color: var(--neutral--100);
    border-radius: 50%;
    cursor: pointer;
}

.form__remember-me:has(input:checked)::after {
    position: absolute;
    top: .25em;
    left: .75em;
    content: '';
    display: block;
    height: .5em;
    width: .5em;
    background-color: var(--neutral--900);
    border-radius: 50%;
}

.form__fields input[type="submit"] {
    padding: 1em;
    border: 0;
    border-radius: 2em;
    font-size: 1em;
    font-weight: bold;
    background-color: var(--neutral--100);
    grid-column: span 2;
}

.form__fields span {
    grid-column: span 2;
    text-align: center;
}

.form__fields a {
    font-weight: bold;
    color: var(--neutral--100);
    text-decoration: none;
}

.form__fields a:hover {
    font-weight: bold;
    color: var(--neutral--100);
    text-decoration: underline;
}

@keyframes appear {
    0%{
        background-color: transparent;
        color: var(--neutral--500);
        transform: translateY(100%) translateX(-5px);
    }
}